@font-face{
    font-family: 'Futura Book';
    src:
    url('../fontsfutura/FuturaLT-Book.woff') format('woff'),
    url('../fonts/futura/FuturaLT-Book.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}
@font-face{
    font-family: 'Futura Demi';
    src:
    url('../fonts/futura/futurademic.woff') format('woff'),
    url('../fonts/futura/futurademic.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}